<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
    #RewriteCond %{HTTP_HOST} !^loclhost$
    #RewriteRule ^(.*)$ http://www.localhost.com/$1 [R=301]
</IfModule>
